@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html, body, div, h1, h2, h3, h4, h5, h6, p{
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}


body{
    background-color: #c0d4c3;
    background-image: url(fabric_1.webp);
    background-repeat: repeat;
}

#wrapper{
    width: 75%;
    min-height: 100%;
    margin: auto;
}

#header{
    text-align: center;
    color:aliceblue;
    font-weight: 900;
    height: 25vh;   
    padding-top: 10px;
}
#main{
    min-height: 100vh;
}

#content1{
    height: 250px;
    min-width: 100%;
    display: grid;
    border-radius: 25px;
}

#split1{
    background-color: aliceblue;
    border-radius: 25px;
    min-width: 1px;
    min-height: 1px;
    height: 250px;
    justify-self: left;
    width: 97%;
    grid-row: 1;
    border-radius: 25px;
    box-shadow: 15px 15px 15px #97a89a;
}

#split2{
    background-color: aliceblue;
    border-radius: 25px;
    min-width: 1px;
    min-height: 1px;
    height: 250px;
    justify-self: right;
    width: 97%;
    grid-row: 1;
    border-radius: 25px;
    box-shadow: 15px 15px 15px #97a89a;
}

#content2{
    border-width: medium;
    height: 250px;
    min-width: 100%;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 15px 15px 15px #97a89a;
    padding-top: 20px;
}

div:not(:last-child) {
    margin-bottom: 20px;
  }

h1 {
    font-size: 2.5em;
    line-height: 1.2;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

.oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }