
body{
    background-color: #c0d4c3;}

#wrapper{
    width: 75%;
    min-height: 100vh;
    margin: auto;
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 15px 15px 15px #97a89a;   
}

#main{
    min-width: 100%;
}

#intro {
    text-align: left;
    color: #57695a;
    font-weight: 900;
    height: 25vh;
    padding: 30px;
    
}

#photo {
    border-radius: 50%;
    transform: scale(0.5);
}

#content1{
    border-width: medium;
    height: 25vh;
    min-width:100%;
    display: inline-block;
    border-radius: 25px;

}

#content2{
    border-width: medium;
    height: 25vh;
    min-width: 100%;
    display: inline-block;
    border-radius: 25px;
}